/* Yii2 styles */
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 80px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* End Yii2 styles */

/* Theme styles */

.form-control {
    background: #efefef;
}

h1 {
    word-wrap: break-word;
}

h1.page-header {
    margin-top: 0;
}

.panel {
    border-radius: 4px;
    transition: .3s;
}

.panel:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.brand {
    position: relative;
}

.brand span {
    display: block;
    position: absolute;
    top: 11px;
    right: -13px;
    font-size: 10px;
    background: #F44336;
    padding: 0 4px;
    text-transform: uppercase;
    line-height: 15px;
    border-radius: 4px;
}

/* End Theme styles */

/* Link View styles */

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    padding: 5px;
}

.dropzone .dz-message {
    font-weight: 500;
    font-size: 20px;
}

.dropzone .dz-message i {
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
}

.dropzone .dz-preview .dz-error-message {
    width: 300px;
}

.photo {
    cursor: move;
}

.photo .panel {
    display: block;
    position: relative;
    height: 180px;
    background: no-repeat center;
    background-size: cover;
}

.photo .panel a.btn-remove {
    opacity: 0;
    transition: 0.3s;
}

.photo .panel:hover a.btn-remove {
    opacity: 1;
}

.photo .photo-props {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.photo .photo-props .selected-icon {
    display: inline-block;
    font-weight: bold;
    top: 0;
    left: 0;
    margin: 5px;
    font-size: 10px;
    background: #0D87E9;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.photo-filename {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(0deg,rgba(0,0,0,.65) 10%,transparent);
    /* background: rgba(0,0,0,0.5); */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-shadow: 0 0 10px #000;
    font-size: 15px;
}

.popover {
    width: 200px;
}

/* End Link View styles */

/* Link List styles */

.panel-link {
    position: relative;
    display: block;
}

.panel-link.link-disabled .link-name {
    color: rgba(113, 113, 113, 0.87);
}

.panel-link:hover,
.panel-link:focus {
    color: #222;
    text-decoration: none;
}

.panel-link .panel-image {
    height: 160px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #efefef;
}

.panel-link .link-name {
    font-size: 24px;
    color: #000000de;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel-link.panel-link-submitted .link-name {
    color: #0D87E9;
}

.panel-link .link-project {
    font-size: 14px;
    color: #00000099;
}

.panel-link .panel-body {
    display: flex;
    flex-direction: row;
}

.panel-link .panel-body .link-info {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
}

.panel-link .panel-body .link-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-link .link-submitted {
    position: relative;
    display: inline-block;
    background: #2196F3;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: 3px;
    font-size: 12px;
    padding: 0 3px;
    top: -4px;
}

/* End Link List styles */
