body {
    padding-top: 70px;
    background: #fff;
}

.footer {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}

.form-control {
    background: #efefef;
}

h1.page-header {
    margin-top: 0;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.not-set {
    color: red;
}
