html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 80px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.form-control {
    background: #efefef;
}

h1 {
    word-wrap: break-word;
}

h1.page-header {
    margin-top: 0;
}

.dropzone {
    min-height: unset;
    border: 3px dotted rgba(0, 0, 0, 0.3);
    /* background: white; */
    padding: 20px 20px;
    margin-bottom: 30px;
}

.photos {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*flex-flow: row wrap;*/
}

.photos .photo {
    position: relative;
    width: 100px;
    margin-bottom: 5px;
}

.photos .photo.selected:before {
    content: "\f00c";
    font-family: "Font Awesome\ 5 Pro";
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    font-size: 10px;
    background: #0D87E9;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.photos .photo:hover:after {
    position: absolute;
    visibility: visible;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    content: '\f00d';
    font-family: "Font Awesome\ 5 Pro";
    color: #fff;
    cursor: pointer;
}

.photos .photo:after {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    content: '\f00d';
    font-family: "Font Awesome\ 5 Pro";
    color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.panel-title a:hover, .panel-title a:focus {
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.panel-link {
    display: block;
    position: relative;
    color: #8b8b8b;
}

.panel-link .panel-body {
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-link.link-active {
    color: #444;
}

.panel-link:hover, .panel-link:focus {
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    color: #000000;
}

.panel-link .link-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
}

.panel-link .link-submitted {
    position: absolute;
    top: 0;
    left: 0;
    background: #2196F3;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: #fff;
    /*font-size: 13px;*/
    text-align: center;
    margin: 10px;
}

.panel-link .link-project {
    position: absolute;
    top: 0;
     left: 35px;
    /* background: #d7d7d7; */
    /* padding: 1px 6px; */
    /* border-radius: 3px; */
    /* text-align: center; */
    margin: 8px 10px;
    /* color: #222; */
    /* font-weight: bold; */
    font-size: 15px;
}
